In [32]:
import pandas
from sklearn.linear_model import LogisticRegression

In [33]:
data = pandas.read_csv('data-logistic.csv', header=None)

In [34]:
data

     0         1          2
0   -1 -0.663827  -0.138526
1    1  1.994596   2.468025
2   -1 -1.247395   0.749425
3    1  2.309374   1.899836
4    1  0.849143   2.407750
..  ..       ...        ...
200  1  4.245176   3.053931
201  1  2.437935   1.357804
202 -1 -1.876638   1.533398
203  1 -6.824446 -13.934211
204 -1  0.001805   0.865147

[205 rows x 3 columns]

In [35]:
target = data[0]

In [36]:
target

0     -1
1      1
2     -1
3      1
4      1
      ..
200    1
201    1
202   -1
203    1
204   -1
Name: 0, Length: 205, dtype: int64

In [37]:
data.drop(0, inplace=True, axis=1)

In [38]:
data

            1          2
0   -0.663827  -0.138526
1    1.994596   2.468025
2   -1.247395   0.749425
3    2.309374   1.899836
4    0.849143   2.407750
..        ...        ...
200  4.245176   3.053931
201  2.437935   1.357804
202 -1.876638   1.533398
203 -6.824446 -13.934211
204  0.001805   0.865147

[205 rows x 2 columns]

In [ ]:
clf = LogisticRegression()