In [74]:
from pandas import read_csv, Series
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score, precision_recall_curve

In [47]:
data = read_csv('classification.csv')

In [48]:
data

     true  pred
0       1     0
1       1     1
2       1     1
3       0     0
4       1     1
..    ...   ...
195     0     0
196     0     0
197     1     0
198     0     1
199     0     0

[200 rows x 2 columns]

In [49]:
data.index

RangeIndex(start=0, stop=200, step=1)

In [50]:
data['true']

0      1
1      1
2      1
3      0
4      1
      ..
195    0
196    0
197    1
198    0
199    0
Name: true, Length: 200, dtype: int64

In [51]:
len(data.index)

200

In [95]:
TP, FP, FN, TN = 0, 0, 0, 0
for index in range(len(data.index)):
    i = data.loc[index]
    if i['true'] == 1:
        if i['true'] == i['pred']:
            TP += 1
        else:
            FN += 1
    else:
        if i['true'] == i['pred']:
            TN += 1
        else:
            FP += 1

In [96]:
TP, FP, FN, TN

(43, 34, 59, 64)

In [97]:
file = open('true_pred.txt', 'w+')
file.write(' '.join(list(map(str, [TP, FP, FN, TN]))))
file.close()

In [78]:
accuracy = accuracy_score(data['true'], data['pred'])
precision = precision_score(data['true'], data['pred'], average='binary')
recall = recall_score(data['true'], data['pred'])
f1 = f1_score(data['true'], data['pred'])

In [79]:
accuracy, precision, recall, f1

(0.535, 0.5584415584415584, 0.4215686274509804, 0.48044692737430167)

In [80]:
file = open('metrics_scores.txt', 'w+')
file.write(' '.join(list(map(lambda x:'{:.2f}'.format(x), [accuracy, precision, recall, f1]))))
file.close()

In [58]:
scores = read_csv('scores.csv')

In [59]:
scores

     true  score_logreg  score_svm  score_knn  score_tree
0       0      0.683832   0.145976   0.787063    0.500000
1       1      0.801966   0.239511   1.000000    0.833333
2       0      0.382315  -0.245701   0.000000    0.000000
3       1      0.506797  -0.137058   0.000000    0.105263
4       1      0.488781  -0.154148   0.000000    0.105263
..    ...           ...        ...        ...         ...
195     0      0.573801  -0.088203   0.284192    0.400000
196     0      0.624422  -0.012315   0.205437    0.400000
197     1      0.425538  -0.135673   0.382351    0.700000
198     0      0.905270   0.583806   1.000000    1.000000
199     0      0.275594  -0.422160   0.743567    0.642857

[200 rows x 5 columns]

In [60]:
logreg = roc_auc_score(scores['true'], scores['score_logreg'])
svm = roc_auc_score(scores['true'], scores['score_svm'])
knn = roc_auc_score(scores['true'], scores['score_knn'])
tree = roc_auc_score(scores['true'], scores['score_tree'])

In [66]:
s = Series(data=[logreg, svm, knn, tree], index=list(scores.columns)[1:])

In [71]:
s

score_logreg    0.719188
score_svm       0.708683
score_knn       0.635154
score_tree      0.691927
dtype: float64

In [69]:
s.idxmax()

'score_logreg'

In [70]:
file = open('roc_auc.txt', 'w+')
file.write(s.idxmax())
file.close()

In [75]:
m = 0
name = ''
for i in list(scores.columns)[1:]:
    precision, recall, thresholds = precision_recall_curve(scores['true'], scores[i])
    for j in range(len(thresholds)):
        if recall[j] >= 0.7:
            if precision[j] > m:
                m = precision[j]
                name = i

In [81]:
file = open('best.txt', 'w+')
file.write(name)
file.close()